#root {
	position: relative;
}

#wrapper {
	position: relative;
}

canvas, #control-panel {
	top: 0;
	left: 0;
}

#control-panel {
	position: fixed;
	opacity: 1;
	z-index: 100;
	background: rgba(255,255,255,0.5);
}

canvas {
	position: absolute;
}
.passthrough {
	pointer-events: none;
}
#canvas-map {
	z-index: 1;
}
#canvas-fog {
	z-index: 3;
	opacity: 1;
}
#indicator {
	z-index: 10;
	pointer-events: none;
}
.pristine #indicator {
	background: rgba(0,255,0, 0.1);
	box-shadow: inset 0px 0px 40px 20px blue;
	box-sizing: border-box;
}
.cursor {
	z-index: 5;
	font-size: '88pt';
	pointer-events: none;
	position: absolute;
	text-shadow: 1px 1px white;
}
#overlay {
	z-index: 11;
}
.token.pc {
	z-index: 4;
}
.token {
	z-index: 2;
}
div.token {
	position: absolute;
	pointer-events: all;
}
div.token.grabbable {
	cursor: grab;
}
img.token {
	position: relative;
}
img.token.dead {
	filter: invert();
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.selected {
	border: 6px dotted yellow;
	margin: -6px;
}