#root {
	position: relative;
}

canvas, #control-panel {
	top: 0;
	left: 0;
}

#control-panel {
	position: fixed;
	opacity: 1;
	z-index: 100;
	background: rgba(255,255,255,0.5);
}

canvas {
	position: absolute;
}
.passthrough {
	pointer-events: none;
}
#canvas-map {
	z-index: 1;
}
#canvas-npcs img {
	z-index: 2;
}
#canvas-pcs img {
	z-index: 4;
}
#canvas-npcs img, #canvas-pcs img {
	position: absolute;
	cursor: grab;
}
#canvas-fog {
	z-index: 3;
}
#overlay {
	z-index: 11;
}