:root {
	--z-map: 1;
	--z-npc-div: 15;
	--z-npc-lbl: 16;
	--z-fog-placeholder: 19;
	--z-fog: 20;
	--z-pc-img: 25;
	--z-pc-lbl: 26;
	--z-overlay: 30;
	--z-indicator: 30;
	--z-cursors: 40;
	--z-cp: 100;
}

#root {
	position: relative;
}

#wrapper {
	position: relative;
}

canvas, #control-panel {
	top: 0;
	left: 0;
}

#control-panel {
	position: fixed;
	opacity: 1;
	z-index: var(--z-cp);
	background: rgba(255,255,255,0.5);
}

canvas {
	position: absolute;
}
.passthrough {
	pointer-events: none;
}
#canvas-map {
	z-index: var(--z-map);
}
#canvas-fog {
	z-index: var(--z-fog);
	opacity: 1;
}
#indicator {
	z-index: var(--z-indicator);
	pointer-events: none;
}
#fog-placeholder {
	position: fixed;
	width: 100%; height: 100%;
	background: #457;
	z-index: var(--z-fog-placeholder);
}
.pristine #indicator {
	background: rgba(0,255,0, 0.1);
	box-shadow: inset 0px 0px 40px 20px blue;
	box-sizing: border-box;
}
.gone { display: none; }
.cursor {
	z-index: var(--z-cursors);
	font-size: '88pt';
	pointer-events: none;
	position: absolute;
	text-shadow: 1px 1px white;
}
#overlay { z-index: var(--z-overlay); }
div.token.pc {z-index: var(--z-pc-img); }
div.token.pc .label { z-index: var(--z-pc-lbl) }
div.token.npc { z-index: var(--z-npc-div); }
div.token.npc .label { z-index: var(--z-npc-lbl) }
div.token {
	position: absolute;
	pointer-events: all;
}
div.token.grabbable { cursor: grab; }
div.token img { position: relative; }
div.token img.dead {
	filter: invert();
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
}
.selected {
	border: 6px dotted yellow;
	margin: -6px;
}